 .container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;

        }
        .navwrapper{
            background-color:aquamarine;
            width: 50vw;
            height:40vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction:column ;
        }
        .firstnav{
            background-color:green;
            width:90%;
            height:50px;
            font-size: 25px;
            color: aliceblue;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
  .bwc{
    margin-left: 15px;
    margin-right: 15px;
  }
  .HAS{
    width:35%;
    height:20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
  }
  .contact{
        width:90px;
    height:35px;
    border-radius: 10px;
    color: black;
   border: 1px solid black;    
   background-color: beige;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 15px;
  }
  