body{
    width: 100%;
    height: 100%;
    background-color: #222;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    width: 80%;
    height: 10%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: grey;

}

.search p i{
    text-align: center;
    align-content: center;
    padding: 16px;
    background-color: #333;
    border-radius: 20px 0px 0px 20px;
    
    
}

.search p input{
    padding: 16.8px;
    
    padding-right: 50px;
        background-color: #333;
        border: none;
        border-radius: 0px 20px 20px 0px;
    }

.menu{
    width: 50%;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: grey;

}

.spe{
    width: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-inline: 20px;
    background-color: #333;
    border-radius: 20px;

    
}

.menu .spe img{
    width: 100%;
    border-radius: 50%;
}

.menu ul li a{
    color: grey;
    text-decoration: none;
}

.menu ul li a:hover{
    color: #f53250;
}


/* main section start */

.parent{
    width: 79%;
    height: 2050px;
    background-color: #333;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1{
    width: 90%;
    height: 35%;
    /* background-color: #f53250; */
    border-radius: 24px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
}

.left{
    width: 60%;
    height: 80%;
    background-color: #222;
    border-radius: 24px;
}


/* right box start */

.right{
    width: 30%;
    height: 80%;
    background-color: #222;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
}


.line2{
    width: 93%;
    height: 23%;
    display: flex;
    margin-left: 20px;
    border-bottom: 1px solid #333;
    border-width: 90%;
}

.line2 .left1{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;

    img{
        border-radius: 20px;
    }
    
}

.left1 .cont{
    h3{
        padding: 0;
        margin: 0;
        color: azure;
        font-size: 15px;

    }

    p{
        margin: 0;
        padding: 0;
        color: gray;
        padding-block: 3px;
        font-size: 13px;
    }
}

.line2 .like{
    width: 100%;
    display: flex;
    gap: 15px;
}

.right1{
    width: 20%;
    display: flex;
    justify-items: flex-end;
    align-items: center;

    i{
        background-color: #333;
        border-radius: 50%;
        padding: 15px;
    }
}

.right .links{

    width: 100%;
    text-align:center ;
    margin-top: 30px;
    
    a{
        color: #f53250;
        font-weight: 900;
        text-decoration: none;
        
    }
}

/* .right box end */
.head{
    margin-left: 30px;
    color: #f53250;
}


.line1{
    margin-left: 25px;
    width: 97%;
    height: 85%;
    display: flex;
    gap: 20px;

}

.line1 .card1{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}


.card1 .con1,.con2{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;

    p{
        padding: 5px;
        margin: 5px;
        color: azure;
    }


}

.card1 img{
    width: 210px;
    height: 350px;
    border-radius: 20px;
}

/* Main section end */


/* footer start */




/* Section 2 start */

.section2{
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.p-box{
    width: 90%;
    height: 75%;
    display: flex;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;

}

.p-box .boxes{
    width: 40%;
    height: 60%;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 10px 20px;


    img{
        border-radius: 50%;
    }

    h3{
        color: azure;
    }
    p{
        color: gray;
    }

    
}

.section2 button{
    width: 10%;
    padding: 14px;
    border-radius: 20px;
    background-color: #f53250;
    color: azure;
    border: none;
    margin-left: 40%;
    margin-top: 0px;
    margin-bottom: 70px;
}

/* Section 2 end */



/* Section 3 start */

.section3{
    width: 90%;
    height: 26%;
    background-color: #222;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.parent-box{
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-left: 60px;
}

.b--1{
    width: 20%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    img{
        border-radius: 14px;
    }
}

.b--1 .content1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;


    

    p{
        padding: 0;
        margin: 0;
        color: #f53250;
        margin-bottom: 10px;
    }

    h4{
        padding: 0;
        margin: 0;
        font-size: 20px;
        color: azure;
    }

}

.content1 .img3 img{
    width: 60px;
    height: 60px;
    border-radius: 40px;
}

.section3 button{
    padding: 13px;
    background-color: #f53250;
    color: azure;
    border: none;
    border-radius: 20px;
    position: absolute;
    top: 98%;
    left: 46%;
}
/* Section 3 end */


footer{
    text-align: center;
    padding-bottom: 2px;
    color: azure;
}

/* footer end */